/*основа*/
/* :root{
    --main-background:#FFFFFF;
    --headlines:#2E2F42;
    --text:#434455;
    --accent-text:#E7E9FC;
    --buttons-link:#4D5AE5;
    --secondary-font:font-family: 'Raleway', sans-serif;
    --primary-font:font-family: 'Roboto', sans-serif;
}  */
/* загальне оформлення */

.body{
    font-family: 'Roboto';
}

/* оформлення хедера для студіо та портфоліо */

.header-page {}
   
    
.header-navigation {

}
.header-logo {
    
   
}
.header-list {
    
   
}
.header-list-item {
    
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;  
}
.header-info {


}
.header-mailto {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;

  
}
.header-telefone {
    
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;

    
}
    /* ===================оформлення студіо=================== */

/* оформлення мейна */
.main-page{


}
/* оформлення мейна секція один */

.hero {

background-color: #2E2F42;

}
.hero-title {
    
    font-weight: 600;
    font-size: 56px;
    line-height: 1.1;
    color: #FFFFFF;

  
}
.hero-button {
    width: 170px;
    height: 51px;
    left: 635px;
    top: 432px;
    color: #FFFFFF;
    background-color:#4D5AE5;
}

/* оформлення мейна секція два */

.direction {
}
.direction-title {

}
.direction-list {
}
.direction-item {
}
.direction-direction {

    font-family: 'Roboto';
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;

}
.direction-text {

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;

}

/* оформлення мейна секція три */

.work {
}
.work-title {

    font-family: 'Roboto';;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    color:#2E2F42;

}
.work-list {
}
.work-item {
}
.work-images {
}
.persone-item {
}

/* оформлення мейна секція чотири*/

.tem {
}
.team-title {

    font-family: 'Roboto';;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.33;
    color: #2E2F42;

}
.team-man {
}
.team-list {
}
.team-images{
}
.team-name {

    font-family: 'Roboto';;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;

}
.team-text {

    font-family: 'Roboto';;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;

}

/* оформлення футера для студіо і портфоліо */

.footer-page {

    background-color: #2E2F42;
}
.footer-logo {
}
.footer-text {

    font-family: 'Roboto';;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #E7E9FC;

}
/* =============оформлення портфоліо=================== */

/* оформлення мейна */
.main-porfolio {
}

/* офрмлення секції один */
.portfolio {
}
.portfolio-title {

}
.portfolio-but{
    

}
.portfolio-button {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color:#4D5AE5;
    background-color: #F4F4FD;
}
.portfolio-button-row{
    font-family: 'Roboto';;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    background-color: #4D5AE5;

}
/* оформлення секції два */
.product {
}
.product-list {
}
.product-item {
}
.product-images {
}
.product-decscription {
    font-family: 'Roboto';;
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
    color: #2E2F42;

}
.product-text {

    font-family: 'Roboto';;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;

}

