/*основа*/
:root{
    --main-background:#FFFFFF;
    --headlines:#2E2F42;
    --text:#434455;
    --accent-text:#E7E9FC;
    --buttons-link:#4D5AE5;
    --secondary-font:font-family: 'Raleway', sans-serif;
    --primary-font:font-family: 'Roboto', sans-serif;
}
/* шрифти
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;
*/
.body{
    font-family: var(--primary-font);
    background-color: var(--main-background);
}
/*heder*/
.nav{

}
.logo{
    
}
.meny{

}
.meny-item{

}
.mail-tel{

}
