/*основа*/
/* :root{
    --main-background:#FFFFFF;
    --headlines:#2E2F42;
    --text:#434455;
    --accent-text:#E7E9FC;
    --buttons-link:#4D5AE5;
    --secondary-font:font-family: 'Raleway', sans-serif;
    --primary-font:font-family: 'Roboto', sans-serif;
} */
/* загальне оформлення */

.body{

/* оформлення хедера для студіо та портфоліо */

.header-page {
}
.header-navigation {
}
.logo {
}
.header-list {
}
.header-list-item {
}
.header-mailto {
}
.header-telefone {
}
 
/* ===================оформлення студіо=================== */

/* оформлення мейна */

.main{

}
/* оформлення мейна секція один */

.hero {

}
.hero-title {

}
.hero-button {

}

/* оформлення мейна секція два */

.direction {
}
.direction-title {
}
.direction-list {
}
.direction-item {
}
.direction-direction {
}
.direction-text {
}

/* оформлення мейна секція три */

.work {
}
.work-title {
}
.work-list {
}
.work-item {
}
.work-images {
}
.persone-item {
}

/* оформлення мейна секція чотири*/

.tem {
}
.team-title {
}
.team-man {
}
.team-list {
}
.team-images{
}
.team-name {
}
.team-text {
}

/* оформлення футера для студіо і портфоліо */

.footer-page {
}
.logo {
}
.footer-text {
}
/* =============оформлення портфоліо=================== */

/* оформлення мейна */
.main-porfolio {
}

/* офрмлення секції один */
.portfolio {
}
.portfolio-title {
}
.portfolio-button {
}

/* оформлення секції два */
.product {
}
.product-list {
}
.product-item {
}
.product-images {
}
.product-decscription {
}
.product-text {
}

